import { Module } from 'nodom3'

export default class <%= name %> extends Module {
  template() {
    return `
      <div>
        <p><%= name %>: {{msg}}</p>
      </div>
    `
  }
  data() {
    return {
      msg: 'hello nodom!'
    }
  }
}


